$header-height: 73px;

// Site Theme
body{
    font-family: 'Inter', sans-serif;
    background: #e5e5e5;
    
    header{
        min-height: $header-height;
        background-color: #f8f9fa;
        border-bottom: 1px solid #d3d3d3;
        
        #menu-button{
            cursor: pointer;
        }
        
        .logo{
            height: 56px;
        }
        
        h2{
            line-height: 20px;
            height: 23px;
        }
        
        #user-box{
            cursor: pointer;
            
            .avatar{
                height: 40px;
                border-radius: 50em;
            }
            
            #user-actions{
                display: none;
                position: absolute;
                bottom: 0px;
                right: 0px;
                width: 200px;
                transform: translateY(100%);
                background-color: #ffffff;
                border: 1px solid #d3d3d3;
                
                --bs-gutter-x: 1.5rem;
                --bs-gutter-y: 0;
                padding-right: calc(var(--bs-gutter-x) * .5);
                padding-left: calc(var(--bs-gutter-x) * .5);
                margin-right: auto;
                margin-left: auto;
                
                .page-link{
                    transition: background-color 0.3s;
                    -webkit-transition: background-color 0.3s;
                    -moz-transition: background-color 0.3s;
                    -o-transition: background-color 0.3s;
                    
                    &:not(:last-child){
                        border-bottom: 1px solid #d3d3d3;
                    }
                    
                    &:hover{
                        background-color: #eeeeee;
                    }
                }
            }
            
            &:hover{
                #user-actions{
                    display: block;
                }
            }
        }
    }
    
    .menu{
        h5{
            font-size: 1.5rem;
            font-weight: 700;
            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
        
        .offcanvas-body{
            > .row:not(:hover){
                .page-link{
                    &.active{
                        > div{
                            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
                            color: white;
                        }
                    }
                }
            }
        }
        
        .page-link{
            cursor: pointer;
            transition: background-color 0.3s;
            -webkit-transition: background-color 0.3s;
            -moz-transition: background-color 0.3s;
            -o-transition: background-color 0.3s;
            
            > div{
                padding: 1rem;
                color: #4a5568;
                text-decoration: none;
                border-radius: 10px;
                
                &:hover{
                    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
                    color: white;
                }
            }
            
            &[data-submenu]{
                .menu-chevron{
                    float: right;
                    margin-top: 3px;
                    transition: transform 0.3s;
                    -webkit-transition: transform 0.3s;
                    -moz-transition: transform 0.3s;
                    -o-transition: transform 0.3s;
                }
                
                &.open{
                    .menu-chevron{
                        transform: rotate(180deg);
                    }
                }
            }
            
            i{
                width: 20px;
                height: 16px;
                text-align: center;
                margin-right: 15px !important;
            }
        }
    }
    
    #title{
        font-size: 2.5rem;
        font-weight: 700;
        // text-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        margin-bottom: 0.5rem;
        color: #212529;
    }
    
    #container{
        min-height: calc(100vh - $header-height);
        
        .table-search{
            --bs-table-bg: #ffffff;
            
            .add-new, .table-search-preview{
                cursor: pointer;
            }
        }
        
        #bookmarks{
            .bookmark{
                border-color: var(--bookmark-color) !important;
                background-color: color-mix(in srgb, var(--bookmark-color) 10%, transparent);
                
                transition: scale 0.3s;
                -webkit-transition: scale 0.3s;
                -moz-transition: scale 0.3s;
                -o-transition: scale 0.3s;
                
                &:hover{
                    scale: 1.05;
                }
                
                .icon{
                    position: relative;
                    width: 35%;
                    background: linear-gradient(135deg, color-mix(in srgb, var(--bookmark-color), #373737) 0%, var(--bookmark-color) 100%);
                    background: var(--bookmark-color);
                    box-shadow: 4px 4px 20px color-mix(in srgb, var(--bookmark-color), #ffffff);
                    color: rgb(239, 239, 239);
                }
                
                .title{
                    font-size: 1.25rem;
                    font-weight: 600;
                    color: #585858;
                    margin-bottom: 0.5rem;
                }
            }
        }
    }
    
    footer{
        font-size: 12px;
        background: #244B8F;
        color: #fff;
    }
}

.login-container{
    background-image: url(https://picsum.photos/1920/1280);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    .card{
        .btn-authentik{
            background-color: #f3492f;
            border-color: #f3492f;
            color: white !important;
            
            &:hover,&:active{
                background-color: #d6412a !important;
                border-color: #d6412a !important;
            }
        }
    }
}

// Plugin override
.no-link{
    color: inherit !important;
    text-decoration: none !important;
}

.form-control:focus,
.form-select:focus{
    box-shadow: none;
    border-color: #ced4da;
}

.cursor-pointer{
    cursor: pointer;
}

.sticky-top-header{
    position: sticky;
    top: 73px;
}

.fs-7{
    font-size: 0.75rem!important;
    
    @media (min-width: 1200px){
        font-size: 0.75rem!important;
    }
}

.fs-8{
    font-size: 0.5rem!important;
    
    @media (min-width: 1200px){
        font-size: 0.5rem!important;
    }
}

.fs-9{
    font-size: 0.25rem!important;
    
    @media (min-width: 1200px){
        font-size: 0.25rem!important;
    }
}

.toastify{
    max-height: 96vh;
    overflow: auto;
    
    &.danger{
        background: linear-gradient(-90deg, rgba(255,66,66,1) 0%, rgba(254,120,120,1) 100%);
    }
    
    &.success{
        background: linear-gradient(-90deg, rgba(107,185,93,1) 0%, rgba(157,219,148,1) 100%);
    }
    
    &.warning{
        background: linear-gradient(-90deg, #ffc273 0%, #f5ca5f 100%);
    }
    
    .toast-close{
        position: absolute;
        top: 0px;
        right: 0px;
    }
}

.select-search{
    select{
        display: none;
    }
    
    .select-search-modal{
        min-width: auto !important;
    }
}

.air-datepicker-global-container{
    z-index: 9999 !important;
}

.table-fit{
    td, th{
        
        &:not(:last-child){
            width: 1%;
            padding-right: 20px;
            white-space: nowrap;
        }
    }
}